#inicial {
   	width: 100%;
   	height: 100%;
   	background: url('../img/inicial.png') no-repeat;
   	background-size: cover;
	overflow: hidden;
}
.loginbox{
	width:278px;
	border:1px solid #CCC;
	box-shadow:2px 5px 10px 0.1px #004952;
	background:#FFF;
	padding:15px;
	position: absolute;
	top:40%;
	left:40%;
}
.tlogin{
	color:#337AB7;
	margin-top:10px;
	font-weight: bold;
	font-size: 16px;
}
.contdata {
	border:1px solid #DDD;
	background-color:#FFF;
	margin:5px;
	border-radius:2px;
	box-shadow:1px 1px 5px #DDD;
}
.lineatit{
	border: 1px solid #337AB7;
	margin-top: 2px;
}
.subtit{
	font-size: 14px;
	font-weight: bold;
}
.pointer{
	cursor: pointer;
}
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  z-index: 2000;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
